<head>
    <title>ContractIfier App</title>
</head>

<body class="hold-transition skin-blue sidebar-mini">
</body>
<template name="Main">
    <div class="wrapper">
        {{> MainSidebar }}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Dashboard
                    <small>Control panel</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Dashboard</li>
                </ol>
            </section>
            <!-- Main content -->
            <section class="content">
                {{> Template.dynamic template=content }}
            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->
        {{> MainFooter }}
        {{> ControlSidebar }}
    </div>
</template>