<template name="ContractsIndex">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Contracts List</h3>
            <div class="box-tools pull-right">
                <!-- Buttons, labels, and many other things can be placed here! -->
                <!-- Here is a label for example -->
                <span class="label label-primary" id="addNewContract">Add new Contract </span>
            </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body">
            {{> tabular table=TabularTables.ContractsTable class="table table-striped table-bordered table-condensed"}}
        </div><!-- /.box-body -->
        <div class="box-footer">
            The footer of the box
        </div><!-- box-footer -->
    </div><!-- /.box -->
</template>