<template name="MainFooter">
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 0.0.0.1
        </div>
        <strong>Copyright &copy; 2016 <a href="#">ContractIfier</a>.</strong> All rights reserved.
    </footer>
</template>