<template name="UserSettings">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Profile Settings</h3>
                    <div class="box-tools pull-right">
                        <!-- Buttons, labels, and many other things can be placed here! -->
                        <!-- Here is a label for example -->
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form id="dropBoxForm"  role="form">
                                <legend>DropBox Settings</legend>
                                <div class="form-group">
                                    <label for="dropBoxKey">Key</label>
                                    <input type="text" class="form-control" name="dropBoxKey" id="dropBoxKey" placeholder="Add DropBox key">
                                </div>
                                <div class="form-group">
                                    <label for="dropBoxSecret">Secret</label>
                                    <input type="text" class="form-control" name="dropBoxSecret" id="dropBoxSecret" placeholder="Add DropBox secret">
                                </div>
                                <div class="form-group">
                                    <label for="dropBoxToken">Token</label>
                                    <input type="text" class="form-control" name="dropBoxToken" id="dropBoxToken" placeholder="Add DropBox token">
                                </div>
                                <div class="form-group">
                                    <label for="dropBoxFolder">Folder</label>
                                    <input type="text" class="form-control" name="dropBoxFolder" id="dropBoxFolder" placeholder="Add DropBox token">
                                </div>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </form>
                        </div>
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer">
                    The footer of the box
                </div><!-- box-footer -->
            </div><!-- /.box -->
        </div>
    </div>
</template>