<template name="CreateContractCategoryModal">
    <div class="modal fade" id="createContractCategoryModal" tabindex="-1" role="dialog" aria-labelledby="createContractCategoryModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Add New Contract Category</h4>
                </div>
                <div class="modal-body">
                    {{> quickForm id="createContractCategoryForm" collection="ContractCategories" type="insert" fields="name"}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>
</template>