<template name="ContractsManage">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Default Box Example</h3>
            <div class="box-tools pull-right">
                <!-- Buttons, labels, and many other things can be placed here! -->
                <!-- Here is a label for example -->
                <span class="label label-primary">Label</span>
            </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body">
            {{# autoForm collection="Contracts" doc=getContract id="manageContracts" type=getFormType}}
                {{> afQuickField name="name" }}
                <div class="form-group">
                    <div class="input-group">
                        {{> afFieldInput name="category" type="select"}}
                        <span class="input-group-addon" id="addNewContractCategory" data-toggle="modal" data-target="#createContractCategoryModal"><i class="glyphicon glyphicon-plus"></i></span>
                    </div>
                </div>
                {{> afQuickField name="fields" }}
                <button type="submit" class="btn btn-primary">Submit</button>
            {{/ autoForm }}
        </div><!-- /.box-body -->
        <div class="box-footer">
            The footer of the box
        </div><!-- box-footer -->
    </div><!-- /.box -->

    {{>CreateContractCategoryModal}}
</template>