<template name="ContractTemplatesManage">
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Add a Scan Template</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            {{> quickForm collection="ContractTemplates" id="manageContractTemplatesForm" type=getFormType doc=getDocument omitFields='owner, createdAt, updatedAt'}}
        </div><!-- /.box-body -->
        <div class="box-footer">
            The footer of the box
        </div><!-- box-footer -->
    </div><!-- /.box -->
</template>